<h1>Danh sách sản phẩm</h1>

<a asp-action="Create" class="btn btn-primary">Thêm sản phẩm</a>

<table class="table">
    <thead>
        <tr>
            <th>Ảnh</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Danh mục</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@item.Image" width="80" />
                </td>

                <td>@item.Name</td>

                <td>@item.Price VNĐ</td>

                <td>@item.Category.Name</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>